<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <h1>Index</h1>
    <br/>
    <br/>With Facebook: <a href="/login_facebook">click here</a>
    <br/>With Google: <a href="/login_google">click here</a>
    <br/>With Database <a href="/login">Login</a>
    <br /><a href="/logout">Logout</a>
    <br/>
    <br /><a href="page">page without login</a>
    <br /><a href="page_user">page user</a>
    <br /><a href="page_admin">page admin</a>
    <br /><a href="/state">state</a>
    <br /><a href="/api/sampleentity">/api/sampleentity</a>
    <br /><a href="/exception">exception</a>
    <br />
    <br /><a href="/react/reactjs_properties.html">ReactJS properties</a>
    <br /><a href="/react/reactjs_state.html">ReactJS state</a>
    <br />
    <br /><a href="/sampleTemplate">Thymeleaf sampleTemplate</a>
    <br /><a href="/checkout">Thymeleaf checkout</a>
    <br /><a href="/secured">Secured</a>

</body>
</html>
