<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Secured Content</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <a href="index">index</a>
    <div class="container" style="height: 100vh;">
        <div class="row" >
            <div class="col-md-12">
                <h1>Spring Security Demo</h1>
            </div>
        </div>

        <div class="row" sec:authorize="isAuthenticated()">
            <div class="col-md-10 col-md-offset-2">
                <h2 style="color:green">User is Logged In</h2>
                <!--<p sec:authentication="principal.username">userName</p>-->
                <p th:text="${username}"></p>
            </div>
        </div>

        <div class="row" sec:authorize="!isAuthenticated()">
            <div class="col-md-10 col-md-offset-2">
                <h2 style="color:red">User is Logged Out</h2>
            </div>
        </div>

        <div class="row" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <div class="col-md-10 col-md-offset-2">
                <h2>User Has Role <b>Admin</b></h2>
            </div>
        </div>

        <div class="row" sec:authorize="hasAuthority('ROLE_USER')">
            <div class="col-md-10 col-md-offset-2">
                <h2>User Has Role <b>User</b></h2>
            </div>
        </div>

        <div class="row" sec:authorize="isRememberMe()">
            <div class="col-md-10 col-md-offset-2">
                <h2># This user is login by "Remember Me Cookies".</h2>
            </div>
        </div>

    </div>

</body>
</html>
